.header {
    max-width: 1750px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: -30px;
        top: 0;
        background-color: $lightGreen;
        width: 800px;
        height: 900px;
        z-index: -5;
    }
    
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 168px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}