.coming__soon {
    width: 100%;
    background-color: $green;

    .coming__soon__inner {
        display: flex;
        align-items: center;
        gap: 60px;
        width: 1290px;
        margin: 0 auto;
        transform: translateX(0px);
    }

    .coming__soon__item {
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 5px;

        h2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #fff;
        }
    }
}